<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <link rel="stylesheet" type="text/css" href="/css/syntax.css"/>
</head>
<body>
  <div class="site">
    <div class="title">
      <a href="/">Kalle Huttunen</a>
    </div>
    {{ content }}
    <div class="footer">
      Kalle Huttunen<br/>
      <a href="https://github.com/khuttun">github.com/khuttun</a><br/>
      <a href="https://www.linkedin.com/in/khuttun">linkedin.com/in/khuttun</a>
    </div>
  </div>
</body>
